@model AgroControl.Models.Gospodarstwo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gospodarstwo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wlasciciel" class="control-label"></label>
                <input asp-for="Wlasciciel" class="form-control" />
                <span asp-validation-for="Wlasciciel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button"
           class="btn btn-secondary"
           value="Powrót"
           onclick="location.href='@Url.Action("Index", "Gospodarstwo")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
