@model IEnumerable<AgroControl.Models.Gospodarstwo>

@{
    ViewData["Title"] = "Index";
}

<h1>Gospodarstwo</h1>

@if (Model == null)
{
<div class="d-flex justify-content-center p-4 mt-3">
    <input type="button" 
           class="btn btn-success btn-lg" 
           value="Stwórz nowe gospodarstwo" 
           onclick="location.href='@Url.Action("Create", "Gospodarstwo")'" />
</div>
}

