@model IEnumerable<AgroControl.Models.Gospodarstwo>

@{
    ViewData["Title"] = "Index";
}

<h1>Gospodarstwo</h1>

@if (Model == null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

