@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">AgroControl</h1>
        <p class="lead">Zarządzaj dokumentacją gospodarstwa przez internet!</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="card col-11 col-md-5 col-lg-4" >
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-11 col-md-5 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-11 col-md-5 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>