@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>
<div class="ac-home-parallax">
    <div class="ac-home-title text-center mt-5">
        <h1 class="display-4 text-light">AgroControl</h1>
        <p class="lead text-light">
            Zarządzaj gospodarstwem online!
        </p>
    </div>
    <partial name="_HomeParallaxPartial" />
</div>
<div class="container py-5">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 col-lg-4 px-2">
            <div class="card ac-rounded" style="height: 100%">
                <div class="card-body">
                    <div class="d-flex justify-content-center p-2">
                        <img src="~/assets/general/smart_farm.svg" width="75" />
                    </div>
                    <h5 class="card-title text-center">Rejestracja zdarzeń w gospodarstwie</h5>
                    <p class="card-text">
                        Rejestruj wszystkie zdarzenia w gospodarstwie, od spisu zwierząt,
                        przez dezynfekcje po rejestracje wejść na teren gospodarstwa,
                        krótko mówiąc wszystko co potrzebne do kontroli.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-2">
            <div class="card ac-rounded" style="height: 100%">
                <div class="card-body">
                    <div class="d-flex justify-content-center p-2">
                        <img src="~/assets/general/pig2.svg" width="75" />
                    </div>
                    <h5 class="card-title text-center">Stan zwierząt</h5>
                    <p class="card-text">
                        Monitoruj obecną ilość zwierząt
                        dzięki zapisywaniu ilości dla każdego obiektu gospodarczego
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ac-rounded px-2">
            <div class="card ac-rounded" style="height: 100%">
                <div class="card-body mx-2">
                    <div class="d-flex justify-content-center p-2">
                        <img src="~/assets/general/dossier.svg" width="75" />
                    </div>
                    <h5 class="card-title text-center">Historia zdarzeń</h5>
                    <p class="card-text">
                        Wszystkie zdarzenia zapisane w bazie są dostępne bezpośrednio w aplikacji,
                        możesz odnaleźć dowolny wpis, bez konieczności przeglądania wielu kartek!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>