/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F2F2F2;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Agro control custom style clases
-------------------------------------------------- */

.ac-bg-nav {
    background-color: #31593F;
}

.ac-icon-primary {
    color: #407352;
    font-size: 20px;
}
.ac-icon-primary:hover {
    color: #78a588;
}

.ac-link-light {
    color: #e5e5e5 !important;
    text-decoration: none;
}
.ac-link-light:hover {
    color: #b5b5b5 !important;
}

.ac-link-dark {
    color: #8C8584 !important;
}
.ac-link-dark:hover {
    color: #bdb2b0 !important;
    text-decoration: none;
}

.ac-clickable{
    cursor: pointer;
}

#cloud1{
    animation: cloud-animation 15s alternate-reverse infinite linear;
}
#cloud2{
    animation: cloud-animation 14s alternate infinite linear;
}
#cloud3{
    animation: cloud-animation 12s alternate-reverse infinite linear;
}
#tractor{
    animation: tractor-animation 10s alternate-reverse infinite linear;
}

@keyframes cloud-animation{
    from{
        transform: translateX(0);
    }
    from{
        transform: translateX(-65px);
    }
}

@keyframes tractor-animation{
    from{
        transform: translateX(0);
    }
    from{
        transform: translateX(-100px);
    }
}

.ac-home-parallax{
}

.ac-rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.ac-home-title{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    padding: 40px;
    background-color: rgba(64, 115, 82, 0.80);
}
.ac-pdf-table{
    border: solid 1px black;
}
.ac-pdf-table th{
    border: solid 1px black;
}
.ac-pdf-table td{
    border: solid 1px black;
    height: 27px;
}